# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Krauler.iml
# Datasource local storage ignored files
/../../../../../../../:\git\krauler\Krauler\.idea\.idea.Krauler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
